body, html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffdda0;
}
.header {
    background-color: #92e229;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px #006600;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    height: 41px;
    margin: 2px 30px;
}
.add-post {
    float: right;
    margin: 7px 20px;
}
.filters {
    background-color: #d2ff69;
    border: 1px solid #c1e058;
    border-radius: 7px;
    float: left;
    margin: 80px 0 0 30px;
    padding: 10px;
    width: 300px;
}
.img-filter {
    height: 135px;
    margin: 2px auto;
}
.filters h2 {
    font-family: Open Sans,sans-serif;
    font-size: 24px;
    margin: 10px 0 0;
}
.feeds {
    width: 600px;
    float: left;
    margin: 80px 0 0 30px;
    padding: 12px;
    border-radius: 7px;
    background-color: #d2ff69;
    border: 1px solid #c1e058;
}
.post{
    border-bottom: 1px solid black;
    clear: both;
}
.post-desc{
    float: left;
    padding: 5px;
    width: 74%;
}

.post-btns{
    float: left;
    width: 25%;
    margin: 10px 0 0 0;
}

.profile {
    float: left;
    margin: 80px 0 0 30px;
    border-radius: 7px;
    background-color: #d2ff69;
    width: 250px;
    padding: 10px;
    border: 1px solid #c1e058;
}

.post-btns img{
    display: block;
    margin: 0 auto;
    height: 75px;
}

.profile-badge{
    display: block;
    height: 150px;
    margin: 0 auto;
}

.profile-btn {
    width: 100%;
    margin: 5px 0;
}

.badge-div {
    width: 30%;
    display: inline-block;
    margin: 0px 0 0 26px;
}